.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 2rem;
}
.formInput {
    gap: 8px;
    display: flex;
    margin-top: -2rem;
}
.inputCreateNewTask {
    flex-grow: 1;
    border: none;
    background-color: var(--gray-500);

    width: 39.87rem;
    height: 3.3rem;

    border-radius: 8px;
    padding: 1rem;

    color: var(--white);
}

.inputCreateNewTask:focus{
    outline: 2px solid var(--purple);
}

.inputCreateNewTask::placeholder{
    color: var(--gray-300);
}

.buttonCreateNewTask {
    color: var(--white);
    background-color: var(--blueDark);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    height: 3.3rem;

    gap: 8px;
    border-radius: 8px;

    cursor: pointer;
}

.buttonCreateNewTask:disabled {
    opacity: 0.7;
}

.buttonCreateNewTask:not(:disabled):hover {
    background-color: var(--blue);
    transition: background-color 100ms;
}

.buttonCreateNewTask > img {
    flex-grow: 0;
    flex: none;
    order: 1;
    width: 1rem;
    margin: 0;
}

.containerList {
    margin-top: 4rem;
}
.containerTaskCounts {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}
.containerTaskCounts > div{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
}
p {
    font-size: .87rem;
    font-weight: 700;
    color: var(--blue);
}
.countTask {
    color: var(--white);
    background-color: var(--gray-400);
    border-radius: 999px;
    gap: 10px;
    padding: 2px 8px 2px 8px;
}

.concluida {
    color: var(--purple);
}


