form {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: -2rem;
}
.container input {
    flex-grow: 1;
    border: none;
    background-color: var(--gray-500);

    width: 39.87rem;
    height: 3.3rem;

    border-radius: 8px;
    padding: 1rem;

    color: var(--white);
}

.container input:focus{
    outline: none;
}

.container input::placeholder{
    color: var(--gray-300);
}

.container button {
    color: var(--white);
    background-color: var(--blueDark);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    height: 3.3rem;

    gap: 8px;
    border-radius: 8px;

    cursor: pointer;
}

.container button:hover {
    background-color: var(--blue);
    transition: background-color 100ms;
}

.container button>img {
    flex-grow: 0;
    flex: none;
    order: 1;
    width: 1rem;
    margin: 0;
}
